
<div class="container">
  <nav class="navbar">
    <div class="nav navbar-nav">
      <a routerLink="/" class="nav-item nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
        <i></i> خانه
      </a>
      <a routerLink="/melk" class="nav-item nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
        <i></i> ثبت ملک
      </a>
      <a routerLink="/cat" class="nav-item nav-link" routerLinkActive="active">
        <i></i>درباره ما
      </a>
    </div>
  </nav>

  <router-outlet></router-outlet>
</div>

